<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Celke</title>
    <link rel="stylesheet" href="/styler/style.css" />
  </head>
  <body>
    <!-- Navegação comum a todas as páginas -->
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/cadastroPet">Pets</a></li>
        <li><a href="/cadastroVeterinario">Veterinários</a></li>
        <li><a href="/sobre">Sobre</a></li>
      </ul>
    </nav>

    {{{body}}}
  </body>
</html>